.navbar-container{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $textColor;
}

.logo{
    margin-top: ($size*2);
}

.sign-btn{
    color: $btnColor;
    border: 1px solid;
}

.hero{
    margin-bottom: ($size*10);

    img{
        width: 100%;
    }
}
