
@mixin list-reset {
    margin-top: $size;
    color: $textColor;
    list-style: none;
}    

@mixin btn-default {
    img{
        max-width: ($size*4);
        width: 100%;
        margin-right: $size;
    }
}

@mixin clearfix{
    content: "";
    display: table;
    clear: both;
}
