*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    @include clearfix
}

.white-container{
    width: 98%;
    margin: auto;
    padding: ($size*3);
    @include clearfix
}

.row::after{
    @include clearfix
}

h2,h3,strong{
    color: $textColor;
    font-weight: 600;
}

p{
    color: $textColor; 
}

ul li{
    @include list-reset
}

.small-text{
    margin-top: ($size*2);
    font-size: 12px;
}

button{
    @include btn-default;
    margin-top: ($size*2);
}

.pink-section{
    background-color: $backgroundColor;
    text-align: center;
    padding:($size*5);

    img{
        width: 40%;
    }  
}

.white-section{
    img{
        width: 100%;
    }  
}



